* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #001;
}

.containerApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.containerCard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.titleGlobal {
    color: darkcyan;
    margin: 20px 0 0 0 ;
}