.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 0 0 0;
    border-bottom: 1px solid;


    .containerTitle {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .titleCard {
            color: #f1f1f1;
        }
    }

    .containerContent {
        width: 100%;
        min-height: 40px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #001;
        flex: 1;

        .content {
            color: #f1f1f1;
        }
    }


}